<br><br>
<h2>{{formBuilderTitle}}</h2>
<form [formGroup]="formGroupExample" (ngSubmit)="submitFormBuilder()">

    <label for="">city(Validation only for city)</label> <br>
    <input formControlName="city" [class.invalid]="formGroupExample.get('city').invalid && 
    formGroupExample.get('city').touched" type="text" placeholder="Please enter city name" name="" id=""> <br><br>
    <small [class.hide-msg]="formGroupExample.get('city').valid || formGroupExample.get('city').untouched "
        class="msg-requred">
        City name is requred </small>
    <br>
    <input formControlName="contactNo" type="text" placeholder="contact no" name="" id=""> <br>
    <input formControlName="status" type="text" name="" placeholder="status" id=""> <br> <br>
    <button type="submit">submit</button>
</form>

<br><br>
<button (click)="getApiData()">Get api data </button>